.container {
  padding: 0;
  background-color: var(--secondary-color);
}

.footer {
  font-weight: 700;
  font-size: large;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--secondary-color);
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
